.header {
    display: flex;
    align-items: center;
    font-weight: bold;
    position: fixed;
    width: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.801218);
    padding-left: 100px;
    padding-right: 100px;
    .title-link {
        .header-logo {
            padding: 12px 85px;
        }
    }
    
    .hamburger {
        
        margin: 0 -90;
      &:hover {
          outline: none;
      }

      @media screen and (min-width:600px) {
          display: none;
      }
  }
  .hamburger-box .hamburger-inner,
    .hamburger-box .is-active,
    .hamburger-box .hamburger-inner::before,
    .hamburger-box .hamburger-inner::after {
        background-color: white;
    }

    .hamburger-box:focus {
        outline: none;
    }
    .nav {
        white-space: nowrap;
        display: inline;
        font-size: 1.2rem;
        @media (max-width: 600px) {
            
          display: none;
          flex-direction: column;
          position: absolute;
          top: 64px;
          left: 0;
          background-color: rgba(0, 0, 0, 1);
          padding-left: 1.5rem;
          padding-bottom: 30rem;
          max-width: 250px;
          
      }
       
        &.open {
          display: inline-flex;
          width: 25rem;
      }
          .header-options {
            color: #fff;
            padding-right: 27px;
            text-decoration: none;
            font-weight: bold;
            font-size: 1.3em;
            
            @media screen and (max-width:1024px) {
              font-size: 1.1em;
          }

            @media screen and (max-width:900px) {
              font-size: 1rem;
              padding: 1rem 0;
            }
          
        } 
        &.open {
          display: flex;
          
      } 
      }
    
  }
 

  
  

