.main{
    .hero{ 
        
        
        .hero-img {
            a{
                text-decoration: none;
                color: #fff;
                font-size: 1.3rem;
            }
            background-size: cover;
            padding: 300px 80px 80px;
            min-height: 800px;
            width: 100%;
            color: #fff;
            display: block;

            @media (max-width: 600px) {
                
                padding: 100px 30px 150px;
                min-height: 40vh;
                background-position: center;
                padding-left: 20px;
                
              }
        
            .hero-subtitle {
                font-size: 1.5rem;
                margin-bottom: 18px;
                font-weight: bold;
                @media (max-width: 600px) {
                    
                    display: none;
                    
                }
            }
            .hero-title {
                font-size: 7.5rem;
                margin-bottom: 15px;
                line-height: 6rem;
                max-width: 650px;
                font-weight: bold;

                @media (max-width: 600px) {
                      font-size: 2.5rem;
                      font-weight: bold;
                      margin-bottom: -20px;
                      padding-top: 70px ;
                  }
            }
            
            .hero-button {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                width: 198px;
                height: 60px;
                background: rgba(157, 151, 151, 0.541521);
                border-radius: 9px;
                margin-right: 25px;
                text-decoration: none;
                color: #fff;
                font-size: 1.3rem;
                font-weight: 300;
                
                
                @media (max-width: 600px) {
                    
                      width: 131px;
                      height: 43px;
                      margin-right: 7px;
                      border-radius: 3px;
                      
                      
                    
                  }
                &:hover{
                    background: #fff;
                    color: #000
                }
                
                
            }
            .button-1{
                @media (max-width: 600px) {
                    background-color: #C60F0E ;
                  
                }
            }
            .hero-series-subtitle {
                margin-top: 20px;
                font-size: 1.4rem;
                @media (max-width: 600px) {
                    
                      display: none;
                    
                  }
                
            }
            .hero-series-description {
                margin-top: 15px;
                font-size: 1.4rem;
                max-width: 600px;
                line-height: 2rem;
                font-weight: 300;
                @media (max-width: 600px) {
                    
                      display: none;
                    
                }
            }
        }
    }
}


  
  
  
 
