@import 'reset';
@import 'variables';
@import 'header';
@import 'breaking-bad';
@import 'carrousel';
@import 'footer';
@import 'movie';


$main-color: #E50914;;
$bcknd-clr: #141414;;
$white: #fff;
$white2: #f2f2f2;
$black: #000;
$main-bck: #0f0f0f;
$grey: #999;
.wrapper {
    min-width: 100vw;
    font-family: "Open Sans", sans-serif;
    
    .main{
        .active {
            display: none;
        }
        .gradient {
            width: 100%;
            height: 150px;
            margin-top: -150px;
            background: black;
            background: linear-gradient(0deg, black 36%, rgba(0, 0, 0, 0) 100%);
        }
    }
    
}