/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background-color: black;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
}

html ::-webkit-scrollbar {
  display: none;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  position: fixed;
  width: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.801218);
}

@media (max-width: 600px) {
  .header {
    padding-left: 100px;
  }
}

.header .title-link .header-logo {
  padding: 12px 85px;
}

.header .hamburger {
  margin: 0 -90;
}

.header .hamburger:hover {
  outline: none;
}

@media screen and (min-width: 600px) {
  .header .hamburger {
    display: none;
  }
}

.header .hamburger-box .hamburger-inner,
.header .hamburger-box .is-active,
.header .hamburger-box .hamburger-inner::before,
.header .hamburger-box .hamburger-inner::after {
  background-color: white;
}

.header .hamburger-box:focus {
  outline: none;
}

.header .nav {
  font-family: 'Open Sans';
  font-style: normal;
  white-space: nowrap;
  display: inline;
  font-size: 21px;
  line-height: 29px;
}

@media (max-width: 600px) {
  .header .nav {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    top: 64px;
    left: 0;
    background-color: black;
    padding-left: 1.5rem;
    padding-bottom: 30rem;
    max-width: 250px;
  }
}

.header .nav.open {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 25rem;
}

.header .nav .header-options {
  color: #fff;
  padding-right: 27px;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.3em;
}

@media screen and (max-width: 1024px) {
  .header .nav .header-options {
    font-size: 1.1em;
  }
}

@media screen and (max-width: 900px) {
  .header .nav .header-options {
    font-size: 1rem;
    padding: 1rem 0;
  }
}

.header .nav.open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.series-preview {
  background: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.0001)), to(#000000));
  background: linear-gradient(270deg, rgba(0, 0, 0, 0.0001) 0%, #000000 100%);
  background-size: cover;
  padding: 60px 80px 130px;
  color: #fff;
  min-width: 100vw;
  min-height: 800px;
  font-family: "Open Sans", sans-serif;
}

@media (max-width: 600px) {
  .series-preview {
    padding: 100px 30px 150px;
    min-height: 40vh;
    background-position: center;
    padding-left: 20px;
  }
}

@media (max-width: 600px) {
  .series-preview .series-logo {
    display: none;
  }
}

.series-preview .fa-arrow-left {
  position: absolute;
  top: 60;
  left: 30;
  color: #fff;
  padding: 25px 0 0;
  font-size: 2rem;
}

.series-preview .series-details {
  margin: -40px 0 29px;
}

@media (max-width: 600px) {
  .series-preview .series-details {
    padding-top: 150px;
  }
}

.series-preview .series-details .span {
  margin-right: 10px;
}

.series-preview .series-details .coincidence-meter {
  color: #009C04;
  font-weight: bold;
}

@media screen and (max-width: 700px) {
  .series-preview .series-details .coincidence-meter {
    display: none;
  }
}

.series-preview .series-details .release-year {
  color: #FFFFFF;
}

.series-preview .series-details .appropiate-age {
  color: #FFFFFF;
  padding: 2px 6px;
  border: 1px solid #979797;
  border-radius: 8px;
}

.series-preview .series-details .seasons-available {
  color: #FFFFFF;
  font-weight: bold;
}

.series-preview .button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 198px;
  height: 60px;
  background: rgba(157, 151, 151, 0.541521);
  border-radius: 9px;
  margin-right: 25px;
  text-decoration: none;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 300;
}

.series-preview .button:hover {
  opacity: 0.7;
}

.series-preview .button-1 {
  background-color: #ED0A1D;
}

.series-preview .button-1 .button-2 {
  background-color: grey;
}

.series-preview .far {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
  border: 2px solid #fff;
  border-radius: 50px;
  padding: 7px;
  margin-right: 10px;
}

@media screen and (max-width: 721px) {
  .series-preview .far {
    display: none;
  }
}

.series-preview .fa-thumbs-down:hover {
  color: #ED0A1D;
}

.series-preview .fa-thumbs-up:hover {
  color: #6ba70b;
}

.series-preview .series-description {
  margin-top: 20px;
  font-size: 1.4rem;
  max-width: 600px;
  line-height: 2.1rem;
  font-weight: 300;
}

@media screen and (max-width: 600px) {
  .series-preview .series-description {
    display: none;
  }
}

.container .series-wrapper {
  color: white;
  padding: 1rem 0;
  padding-left: 4.6rem;
}

@media screen and (max-width: 600px) {
  .container .series-wrapper {
    padding-left: 20px;
    margin-bottom: 10px;
  }
}

.container .series-wrapper .series-wrapper-title {
  font-size: 24px;
  font-style: normal;
  font-weight: bold;
  line-height: 33px;
  padding-left: 8px;
}

.container .series-wrapper .series-carrousel,
.container .series-wrapper .series-carrousel-bb {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: hidden;
  scroll-behavior: smooth;
  padding-bottom: 40px;
}

@media screen and (max-width: 600px) {
  .container .series-wrapper .series-carrousel-bb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 1rem;
  }
}

.container .series-wrapper .series-carrousel-bb img {
  width: 90%;
}

.container .series-wrapper .series-carrousel-bb .series-carrousel-text {
  display: none;
  width: 20rem;
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  .container .series-wrapper .series-carrousel-bb .series-carrousel-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    letter-spacing: 1px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
  }
}

.container .series-wrapper .series-carrousel-bb .series-carrousel-title {
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 0.5rem 0;
}

.container .series-wrapper .series-carrousel-bb .series-carrousel-description {
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 1em;
  font-weight: lighter;
  margin-right: 10px;
}

.container .series-wrapper .series-carrousel-link, .container .series-wrapper .series-carrousel-link-bb {
  margin: 0 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .series-wrapper .series-carrousel-link .progress-bar, .container .series-wrapper .series-carrousel-link-bb .progress-bar {
  margin: 0.6rem 2.5rem;
  background-color: #858585;
  height: 0.4rem;
  width: 15rem;
}

@media screen and (max-width: 600px) {
  .container .series-wrapper .series-carrousel-link .progress-bar, .container .series-wrapper .series-carrousel-link-bb .progress-bar {
    display: none;
  }
}

.container .series-wrapper .series-carrousel-link .progress-bar-completed, .container .series-wrapper .series-carrousel-link-bb .progress-bar-completed {
  width: 0;
  background-color: #C60F0E;
  height: 100%;
}

.container .series-wrapper .series-carrousel-link .completed-one, .container .series-wrapper .series-carrousel-link-bb .completed-one {
  width: 15%;
}

.container .series-wrapper .series-carrousel-link .completed-two, .container .series-wrapper .series-carrousel-link-bb .completed-two {
  width: 78%;
}

.container .series-wrapper .series-carrousel-link .completed-three, .container .series-wrapper .series-carrousel-link-bb .completed-three {
  width: 30%;
}

.container .series-wrapper .series-carrousel-link .completed-four, .container .series-wrapper .series-carrousel-link-bb .completed-four {
  width: 20%;
}

.container .series-wrapper .series-carrousel-link .completed-five, .container .series-wrapper .series-carrousel-link-bb .completed-five {
  width: 90%;
}

.container .series-wrapper .series-carrousel-link .completed-six, .container .series-wrapper .series-carrousel-link-bb .completed-six {
  width: 20%;
}

.container .series-wrapper .series-carrousel-link:focus, .container .series-wrapper .series-carrousel-link-bb:focus {
  outline: none;
}

.container .series-carrousel-bb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 600px) {
  .container .series-carrousel-bb {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 10px;
  }
}

.container .series-carrousel-bb .serie-bb {
  width: 320px;
}

.container .series-carrousel-bb .serie-bb .series-carrousel-image {
  width: 100%;
}

/* LINKS */
.link {
  padding: 50px 350px;
}

.link .sub-links ul {
  list-style: none;
  padding: 0;
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.link .sub-links ul a {
  color: #686868;
  text-decoration: none;
}

.link .sub-links ul a:hover {
  color: #686868;
  text-decoration: underline;
}

.link .logos {
  padding-bottom: 50px;
}

.link .logos a {
  padding: 50px 20px;
}

.link .logos a .logo {
  color: #686868;
}

/* FOOTER */
footer {
  padding: 20px;
  text-align: center;
  color: #686868;
  margin: 10px;
}

.main .hero .hero-img {
  background-size: cover;
  padding: 300px 80px 80px;
  min-height: 800px;
  width: 100%;
  color: #fff;
  display: block;
}

.main .hero .hero-img a {
  text-decoration: none;
  color: #fff;
  font-size: 1.3rem;
}

@media (max-width: 600px) {
  .main .hero .hero-img {
    padding: 100px 30px 150px;
    min-height: 40vh;
    background-position: center;
    padding-left: 20px;
  }
}

.main .hero .hero-img .hero-subtitle {
  font-size: 1.5rem;
  margin-bottom: 18px;
  font-weight: bold;
  padding-left: 10px;
}

@media (max-width: 600px) {
  .main .hero .hero-img .hero-subtitle {
    display: none;
  }
}

.main .hero .hero-img .hero-title {
  font-size: 7.5rem;
  margin-bottom: 15px;
  line-height: 6rem;
  max-width: 650px;
  font-weight: bold;
}

@media (max-width: 600px) {
  .main .hero .hero-img .hero-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: -20px;
    padding-top: 70px;
  }
}

.main .hero .hero-img .hero-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 198px;
  height: 60px;
  background: rgba(157, 151, 151, 0.541521);
  border-radius: 9px;
  margin-right: 25px;
  text-decoration: none;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 300;
}

@media (max-width: 600px) {
  .main .hero .hero-img .hero-button {
    width: 131px;
    height: 43px;
    margin-right: 7px;
    border-radius: 3px;
  }
}

.main .hero .hero-img .hero-button:hover {
  background: #fff;
  color: #000;
}

@media (max-width: 600px) {
  .main .hero .hero-img .button-1 {
    background-color: #C60F0E;
  }
}

.main .hero .hero-img .hero-series-subtitle {
  margin-top: 20px;
  font-size: 1.4rem;
}

@media (max-width: 600px) {
  .main .hero .hero-img .hero-series-subtitle {
    display: none;
  }
}

.main .hero .hero-img .hero-series-description {
  margin-top: 15px;
  font-size: 1.4rem;
  max-width: 600px;
  line-height: 2rem;
  font-weight: 300;
}

@media (max-width: 600px) {
  .main .hero .hero-img .hero-series-description {
    display: none;
  }
}

.wrapper {
  min-width: 100vw;
  font-family: "Open Sans", sans-serif;
  padding-bottom: 50px;
}
/*# sourceMappingURL=styles.css.map */