@import 'reset';
@import 'variables';
@import 'header';
@import 'breaking-bad';
@import 'carrousel';
@import 'footer';
@import 'movie';



.wrapper {
    min-width: 100vw;
    font-family: "Open Sans", sans-serif;
    padding-bottom: 50px; 
}