$main-color: #E50914;;
$bcknd-clr: #141414;;
$white: #fff;
$black: #000;
$main-bck: #0f0f0f;
$gray: #999;

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,600&display=swap');
